flows.json
[{"id":"323f3506.c3aa0a","type":"debug","z":"c0c7715d.439d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":393.1666793823242,"y":308.3333396911621,"wires":[]},{"id":"a8abc84d.c8f008","type":"ui_form","z":"c0c7715d.439d5","name":"","label":"","group":"65514380.ecc08c","order":1,"width":0,"height":0,"options":[{"label":"age","value":"a","type":"number","required":true},{"label":"sex","value":"b","type":"number","required":true},{"label":"cp","value":"c","type":"number","required":true},{"label":"trestbps","value":"d","type":"number","required":true},{"label":"chol","value":"e","type":"number","required":true},{"label":"fbs","value":"f","type":"number","required":true},{"label":"restecg","value":"g","type":"number","required":true},{"label":"thalach","value":"h","type":"number","required":true},{"label":"exang","value":"i","type":"number","required":true},{"label":"slope","value":"j","type":"number","required":true},{"label":"ca","value":"k","type":"number","required":true},{"label":"thal","value":"l","type":"number","required":true},{"label":"time_in_hospital","value":"m","type":"number","required":true},{"label":"number_inpatient","value":"n","type":"number","required":true},{"label":"number_diagnoses","value":"o","type":"number","required":true}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":74,"y":196.33335876464844,"wires":[["7a0fdd0e.85e224"]]},{"id":"7a0fdd0e.85e224","type":"function","z":"c0c7715d.439d5","name":"parameters","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"b\",msg.payload.b)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"d\",msg.payload.d)\nglobal.set(\"e\",msg.payload.e)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"h\",msg.payload.h)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"j\",msg.payload.j)\nglobal.set(\"k\",msg.payload.k)\nglobal.set(\"l\",msg.payload.l)\nglobal.set(\"m\",msg.payload.m)\nglobal.set(\"n\",msg.payload.n)\nglobal.set(\"o\",msg.payload.o)\nreturn msg;","outputs":1,"noerr":0,"x":133.1667251586914,"y":94.00004196166992,"wires":[["561f75aa.28a09c"]]},{"id":"561f75aa.28a09c","type":"http request","z":"c0c7715d.439d5","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":257.1667137145996,"y":230.33334732055664,"wires":[["323f3506.c3aa0a","1a8f9dec.3a7102"]]},{"id":"1a8f9dec.3a7102","type":"function","z":"c0c7715d.439d5","name":"prediction","func":"var token=msg.payload.token\nvar a = global.get('a')\nvar b = global.get('b')\nvar c = global.get('c')\nvar d = global.get('d')\nvar e = global.get('e')\nvar f = global.get('f')\nvar g = global.get('g')\nvar h = global.get('h')\nvar i = global.get('i')\nvar j = global.get('j')\nvar k = global.get('k')\nvar l = global.get('l')\nvar m = global.get('m')\nvar n = global.get('n')\nvar o = global.get('o')\nmsg.payload={\"fields\":[\"Age\",\"Sex\",\"Cp\",\"Trestbps\",\"Chol\",\"Fbs\",\"Restecg\",\"Thalach\",\"Exang\",\"Slope\",\"Ca\",\"Thal\",\"Timeinhosp\",\"Inpatient\",\"Diagnoses\"],values:[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":355.1666946411133,"y":116.00000333786011,"wires":[["1a567b6a.a0c7b5"]]},{"id":"1a567b6a.a0c7b5","type":"http request","z":"c0c7715d.439d5","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/1956117e-e125-410e-a17c-6d50177fb313/deployments/5b373cac-52a3-44f0-b125-d87ff9dc1df8/online","tls":"","proxy":"","authType":"basic","x":464.16668128967285,"y":48.0000114440918,"wires":[["d5aa18dd.1ef408","648b650.fd70a9c"]]},{"id":"d5aa18dd.1ef408","type":"debug","z":"c0c7715d.439d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":672.1666793823242,"y":89.3333387374878,"wires":[]},{"id":"648b650.fd70a9c","type":"function","z":"c0c7715d.439d5","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg","outputs":1,"noerr":0,"x":537.1666870117188,"y":244.33334350585938,"wires":[["80e7c773.44d528"]]},{"id":"80e7c773.44d528","type":"ui_text","z":"c0c7715d.439d5","group":"65514380.ecc08c","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":603.1666870117188,"y":308,"wires":[]},{"id":"65514380.ecc08c","type":"ui_group","z":"","name":"input parameters","tab":"54d4b688.844af8","disp":true,"width":"6","collapse":false},{"id":"54d4b688.844af8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]